/*all pages should have these styles */
.pure-menu-link:hover {
    background-color: transparent;
    color: silver;
    transition: 1s;
}
.pure-menu-link {

    transition: 1s;
}

.navBar:hover {
    color: red !important;
    transition: 1s;
    background-color: #f2f2f2;
}

.navBar {
    color: white !important;
    transition: 1s;
}
.myFooter{
    background: black;
    bottom: 0;
    width: 100%;
}

.splash-head{
    display:none;
}

.splash-subhead {
    display: none;
}

.fa-5x:hover {
    color: red;
    transition: 1s;

}

.fa-5x {
    transition: 1s;
    color: silver;
}

.content-head-ribbon{
    text-align: center;
}

.pure-button.pure-button-primary:hover{
    background-color: red;
    transition: 1s;
}

.pure-button.pure-button-primary{
    background-color: black;
    transition: 1s;
}

.home-menu{
    background: black;
}

.pure-menu-selected .pure-menu-link, .pure-menu-selected .pure-menu-link:visited{
    color: red !important;
}
/* ends here */

